$primary-color: #004bad;
$secondary-color: #023374;
$dark-color: #001b3f;
$light-color: #f4f4f4;
$success-color: #5cb85c;
$error-color: #d9534f;

// Animations
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@mixin media-sm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}
