.navbar {
  background-color: $primary-color;
  color: #fff;
  height: 70px;

  ul {
    display: flex;
  }

  a {
    padding: 10px;
    margin: 0 5px;
    color: #fff;
    border-bottom: 2px rgba(85, 77, 77, 0) solid;
  }

  a:hover,
  a:focus {
    outline: none;
    border-bottom: 2px #fff solid;
    transition: all 0.3s ease-in-out;
  }
}

.navbar .flex {
  justify-content: space-between;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.showcase {
  height: 400px;
  background-color: $primary-color;
  color: #fff;
  position: relative;

  p {
    margin: 20px 0;
  }

  h1 {
    font-size: 40px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 2;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b8b8b8;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: $primary-color;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.btn:hover,
.btn:focus {
  outline: none;
  transform: scale(0.98);
  background-color: #003a86;
  transition: all 0.25s ease-in-out;
}

.btn-dark:hover,
.btn-dark:focus {
  background-color: #002657;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
}

.stats {
  padding-top: 100px;
  animation: slideInFromBottom 1s ease-in;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.text-center {
  text-align: center;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

.cli-img {
  width: 100%;
  height: 100px;
  background-color: rgb(0, 17, 54);
}

.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.cloud-img {
  width: auto;
  height: 200px;
  background-color: rgb(0, 17, 54);
}

.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px);
}

footer {
  a {
    color: #fff;
    margin: 0 10px;
  }
}
